body{background-color:#14D2F5 }
table{background-color:white;width:500px;margin-left: auto;margin-right: auto;}
td{font-family: arial;font-size: 25px;color: black; solid;border-style: solid;}
.menu{font-family: arial;font-size: 100px;color: black;text-align: center;}
.centrar{text-align: center;}
img{height: 330px;width: 330px}
.logo{height: 50px;width: 50px}
td{font-family: arial;font-size: 25px;